/* DIVISIONS */

body {

}

header {
  display: flex;
  flex-direction: column;
}

.covid-banner {
  align-items: center;
  background-color: gold;
  display: flex;
  justify-content: center;
  text-align: center;
}

.desktop-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.smartphone-header {
  display: none;
}

.logo-and-menu {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.menu {
}

header .menu {
  width: 40vw;
}

.search-bar {
  margin-right: 1rem;
}

.pop-up-searchbar-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.pop-up-searchbar {
  background-color: white;
  padding: 1rem;
  position: absolute;
}



/* TITLES */


/* TEXT */

.covid-banner p {
  margin-bottom: 0rem;
  text-align: center;
}


/* NAVS & LISTS */

.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem;
  padding-left: 0rem;
  width: 100%;
}

.menu li {
  list-style-type: none;
}

.menu li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left:	0;
  background-color: #1a535c;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .3s ease-in-out;
}

.menu li:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* INPUTS */

.pop-up-searchbar input {
  border: 0rem;
  border-bottom: 1mm ridge rgb(220, 220, 220, .3);
}

/* BUTTONS */

.covid-banner button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-left: 2rem;
}

.close-button,
.searchbar-button,
.research-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-left: 2rem;
}


/* IMG */

.logo {
  max-width: 10vw;
}




/*================= MEDIA QUERIES =================*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  .desktop-header {
    display: none;
  }

  .smartphone-header {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .covid-banner p, .covid-banner i {
    font-size: 2rem;
  }

  h1 {
    font-size: 5rem;
  }

  .burger-open, .burger-close {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 4.5rem;
    font-weight: 400;
    margin-left: 2rem;
  }


}


@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {

  .desktop-header {
    display: none;
  }

  .smartphone-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 5rem;
  }

  .covid-banner {
    display: none;
  }

  .smartphone-menu {
    position: absolute;
  }

  h1 {
    font-size: 5rem;
  }

  .burger-open, .burger-close {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 8rem;
    margin-left: 2rem;
  }


}
