<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engagements</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">

</head>
<body>
 






<main class="main-wrapper">


			
  
    <div class="cf-page-wrapper editorial-wrapper">
      
      <div class="editorial-navigation">
        <ul>
        <li><a class="editorial-navigation-item js-scrollto-link" href="#our-story">Our Story</a></li>
  <li><a class="editorial-navigation-item js-scrollto-link" href="#our-founders">Our Founders</a></li>
  <li><a class="editorial-navigation-item js-scrollto-link" href="#in-good-company">Our Collection</a></li>
  <li><a class="editorial-navigation-item js-scrollto-link" href="#stories">Our Community</a></li>
  <li><a class="editorial-navigation-item js-scrollto-link" href="#causes">Our Values</a></li>
  <li><a class="editorial-navigation-item js-scrollto-link" href="#we-are-a-certified-b-corp">Certified B Corp</a></li>
  <li><a class="editorial-navigation-item js-scrollto-link" href="#we-are-part-of-1-ftp">1 % For the planet</a></li>
        </ul>
      </div>
    
        
        <div class=" hero-background-wrapper editorial-spacing-top--null editorial-spacing-bottom--null">
          <div class="hero hero-text-align--left hero-background hero-background--fixed hero-height--xl hero-text-size--lg hero-text-color--black mobile-only" style="background-image: url('//images.ctfassets.net/i1mjrxrhatz1/202SikatWYzLjJ2XRw1fep/c6aecb39c94d3c33e78c8221e5b4e4f1/manifesto3.jpg?q=80&amp;fit=&amp;w=1500&amp;h=&amp;fm=jpg'); ">
            
            <div class="hero-background-inner">
              <div class="hero-text" style="background-color: transparent">
                <p>In a world where the things we consume have begun to consume us. <br>And our lives are so filled with stuff that we’ve left little room for happiness.</p>
  <p><strong>GOODEE is hope.</strong></p>
  <p>We are a community of socially-conscious design enthusiasts who put "caring" for people, and the planet, at the center of everything we do.</p>
  <p>Where the products we support, services we love, and ideas we champion reflect our unwavering pursuit of a happier and more sustainable future for all.</p>
  <p><strong>And while there is power in good design, we believe there is infinitely more in design for good.</strong></p>
  <p>It's why we wake up every day challenged to understand and improve the world around us; and it's why we rest at night encouraged by the positive impacts (big and small) we're making along the way.</p>
  <p>After all, we believe consumers are the new curators. That quality provides clarity. And "less, but better" can only lead to a kinder, smarter, more beautiful world.</p>
  <p>Welcome to a world of good people doing good things.</p>
  <p><strong>Welcome to GOODEE.</strong></p>
              </div>
            </div>
          </div>
        </div>
        
        
        <div class=" hero-background-wrapper editorial-spacing-top--null editorial-spacing-bottom--null">
          <div class="hero hero-text-align--left hero-height--xl hero-background hero-background--fixed hero-text-size--lg hero-text-color--black hero-text-position--left desktop-only" style="background-image: url('//images.ctfassets.net/i1mjrxrhatz1/26umAsL10CtPvptau15XQ4/6a8eb70093603c2a075fad6412d77672/_CSK8987-2.jpg?q=80&amp;fit=&amp;w=1500&amp;h=&amp;fm=jpg'); ">
            
            <div class="hero-background-inner">
              <div class="hero-text" style="background-color: transparent">
                <p>In a world where the things we consume have begun to consume us. <br>And our lives are so filled with stuff that we’ve left little room for happiness.</p>
  <p><strong>GOODEE is hope.</strong></p>
              </div>
            </div>
          </div>
        </div>
        
        
        <div class="hero-wrapper editorial-spacing-top--null editorial-spacing-bottom--null">
          <div class="hero hero-height--xl hero-text-color--white hero-text-size--lg hero-text-align--left hero-text-position--right  desktop-only" style="background-color: #4a49ff">
            <div class="js-animation animation--fade hero-image">
              
                <img src="../assets/images/canap.jpg" alt="" class="lazyload-image" alt="undefined">
              
              
            </div>
    <div class="js-animation animation--slide animation--delay hero-text">
      <p>We are a community of socially-conscious design enthusiasts who put "caring" for people, and the planet, at the center of everything we do.</p>
  <p>Where the products we support, services we love, and ideas we champion reflect our unwavering pursuit of a happier and more sustainable future for all.</p>
  <p>And while there is power in good design, we believe there is infinitely more in design for good.</p>
    </div>
          </div>
        </div> 
        
        <div class=" hero-background-wrapper editorial-spacing-top--null editorial-spacing-bottom--null">
          <div class="hero hero-text-align--left hero-background hero-background--fixed hero-height--xl hero-text-size--lg hero-text-color--black hero-text-position--left desktop-only" style="background-image: url('//images.ctfassets.net/i1mjrxrhatz1/202SikatWYzLjJ2XRw1fep/c6aecb39c94d3c33e78c8221e5b4e4f1/manifesto3.jpg?q=80&amp;fit=&amp;w=1500&amp;h=&amp;fm=jpg'); ">
            
            <div class="hero-background-inner">
              <div class="hero-text" style="background-color: transparent">
                <p>It's why we wake up every day challenged to understand and improve the world around us; and it's why we rest at night encouraged by the positive impacts (big and small) we're making along the way. </p>
  <p>After all, we believe consumers are the new curators. That quality provides clarity. And "less, but better" can only lead to a kinder, smarter, more beautiful world.</p>
  <p>Welcome to a world of good people doing good things.</p>
  <p><strong>Welcome to GOODEE.</strong></p>
              </div>
            </div>
          </div>
        </div>
        
        <a class="editorial-anchor" id="our-story"></a>
        <div class="hero-wrapper editorial-spacing-top--null editorial-spacing-bottom--null">
          <div class="hero hero-height--lg hero-text-position--left hero-text-align--left  undefined" style="background-color: transparent">
            <div class="js-animation animation--fade hero-image">
              
                <img src="../assets/images/canap.jpg" data-src="//images.ctfassets.net/i1mjrxrhatz1/3qZMzKlZHVwpOgVMQO06KO/168a02c1bbe0c6f6292db6604a623e9d/CSK_9564-landscape.jpg?q=80&amp;fit=fill&amp;w=1200&amp;h=900&amp;fm=jpg" file.contenttype="=" class="lazyload-image" alt="Goodee at the Whitney Shop, NYC">
              
              <div class="editorial-image-caption">Goodee at the Whitney Shop, NYC</div>
            </div>
    <div class="js-animation animation--slide animation--delay hero-text">
      <div class="hero-title">Our Story</div>
  <p><strong>GOODEE</strong> is a leading curated marketplace offering essential homewares and lifestyle products for better living. Our values are simple: we believe in good design, good people, and good impact. Driven by an unrelenting desire to co-create a world that’s smarter, kinder, and more beautiful, we built a platform centered around responsible brands and artisans producing timeless everyday objects and consumers looking to make a difference with their purchases. We believe conscious commerce has the power to transform the world and seek to empower both creators and consumers to create change by championing community, transparency, and sustainability.</p>
    </div>
          </div>
        </div> 
        <a class="editorial-anchor" id="our-founders"></a>
        <div class="hero-wrapper editorial-spacing-top--null editorial-spacing-bottom--null">
          <div class="hero hero-text-color--white hero-height--lg hero-text-position--right hero-text-align--left  undefined" style="background-color: #4a49ff">
            <div class="js-animation animation--fade hero-image">
              
                <img src="../assets/images/canap.jpg" data-src="//images.ctfassets.net/i1mjrxrhatz1/6ZXJv3p09Zd3wyCyMeXdLb/eb5723fe089ac37cb2f73aa7dc44032c/GOODEE_ByronAndDexter_117ab268-5146-4442-8230-784cc9b99566_1024x1024.webp?q=80&amp;fit=fill&amp;w=1200&amp;h=900&amp;fm=jpg" file.contenttype="=" class="lazyload-image" alt="Byron and Dexter Peart at Artisan Fashion in Nairobi, Kenya">
              
              <div class="editorial-image-caption">Byron and Dexter Peart at Artisan Fashion in Nairobi, Kenya</div>
            </div>
    <div class="js-animation animation--slide animation--delay hero-text">
      <div class="hero-title">Our Founders</div>
  <p>In 2017, designers and creative directors <strong>Byron and Dexter Peart</strong> embarked on a new mission. After founding the acclaimed brand WANT Les Essentiels in 2007, the twin brothers set out on a new venture to launch and develop meaningful brands dedicated to offering sustainable solutions for modern living. This time, however, the pair decided to work exclusively with artisans and products that make a positive social or environmental impact. <strong>GOODEE</strong> leads the way in curating a marketplace that brings together the values of good design, good people, and good purpose. With a creative and passionate team split between Montreal, New York, and Paris, Byron and Dexter act as creative directors for the global online platform — a unique destination built around storytelling and impactful products.</p>
    </div>
          </div>
        </div> 
        <a class="editorial-anchor" id="in-good-company"></a>
        <div class="hero-wrapper editorial-spacing-top--null editorial-spacing-bottom--null">
          <div class="hero hero-text-align--left hero-height--lg hero-text-position--left  undefined" style="background-color: #edbe53">
            <div class="js-animation animation--fade hero-image">
              <a class="hero-image-link" href="https://www.goodeeworld.com/collections/all">
                <img src="../assets/images/canap.jpg"  file.contenttype="=" class="lazyload-image" alt="The Baba Tree artisan community">
              </a>
              <div class="editorial-image-caption">The Baba Tree artisan community</div>
            </div>
    <div class="js-animation animation--slide animation--delay hero-text">
      <div class="hero-title"><a href="https://www.goodeeworld.com/collections/all">In Good Company</a></div>
  <p>True to our values, we’re setting a good example by designing our own range of sustainably crafted GOODEE products. We also tirelessly seek out like-minded makers and doers who are using their vision to craft a more considered world, so we can bring them to you. From home decor to accessories, and home fragrances to personal care, each essential item in our collection is carefully selected and vetted by our in-house sustainability team for its thoughtful design and impact. A GOODEE stamp of approval means that every item we offer is transparently sourced, ethically made, and designed to last. Our brand partners report to us on their materials, supply chain, labor standards, ecological footprint, and business practices. Inspired by the UN’s sustainable development goals, we are uncompromising in our standards and that’s something we feel good about. And as you explore our products and brands — each telling its own authentic story — we know you’ll feel the GOODEE spirit, too.</p>
    <a class="c-read-more" href="https://www.goodeeworld.com/collections/all">
      Discover Our Products
    </a><p></p>
    </div>
          </div>
        </div> 
        <a class="editorial-anchor" id="stories"></a>
        <div class="hero-wrapper editorial-spacing-top--null editorial-spacing-bottom--null">
          <div class="hero hero-height--lg hero-text-position--right hero-text-align--left  undefined" style="background-color: #8EACFA">
            <div class="js-animation animation--fade hero-image">
              <a class="hero-image-link" href="https://www.goodeeworld.com/blogs/stories">
                <img src="../assets/images/canap.jpg" data-src="//images.ctfassets.net/i1mjrxrhatz1/2IxrUVza8HMrtbMs5gBxas/8ba5a413c73eebae4352e7b202535695/Stephen_Goodee_OBT__478_final__1_.jpg?q=80&amp;fit=fill&amp;w=1200&amp;h=900&amp;fm=jpg" file.contenttype="=" class="lazyload-image" alt="Designer Stephen Burks and his partner Malika at their Brooklyn home">
              </a>
              <div class="editorial-image-caption">Designer Stephen Burks and his partner Malika at their Brooklyn home</div>
            </div>
    <div class="js-animation animation--slide animation--delay hero-text">
      <div class="hero-title"><a href="https://www.goodeeworld.com/blogs/stories">Stories</a></div>
  <p>We believe in the power of storytelling. By sharing the stories of the creators, the artisans, and the entrepreneurs who inspire us, we want to shine a light on the moving stories behind our products and amplify diverse voices with unique perspectives. As sharing thoughts can spark new ideas, we want to provide a welcoming space for reflection and meaningful conversations, and inspire positive action to make the world a more beautiful place. We believe that magic happens when your circle gets wider and your table gets longer. So have a seat and make yourself comfortable: You'll be in good company.</p>
    <a class="c-read-more" href="https://www.goodeeworld.com/blogs/stories">
      Read the Stories
    </a><p></p>
    </div>
          </div>
        </div> 
    
          </main>

          