<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="ethic shop">
    <meta name="keywords" content="ethic shop upcycle">
    <meta name="author" content="Delphine Dumont et Alix Pelletier" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="icon" href="../assets/images/favicon.ico" />
    <script src="https://kit.fontawesome.com/030bc59c7c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/style-header.css">
    <title>Ethically</title>

  </head>
  <body>
    <header>
      <div class="covid-banner">
        <p>Nos livraisons pendant la période covid-19</p>
        <button type="button" class="acceptbutton"><i class="fas fa-times"></i></button>
      </div>
      <div class="desktop-header">
        <div class="logo-and-menu">
          <div>
            <img class="logo" src="../assets/logo.png" alt="logo">
          </div>
          <div class="menu">
            <nav>
              <ul>
                <li>NOS ARTISANS</li>
                <li>NOS PRODUITS</li>
                <li>NOS ENGAGEMENTS</li>
                <li>LE MEDIA</li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="search-bar-desktop">
          <div class="magnifier">
            <button type="button" name="button" class="searchbar-button"><i class="fas fa-search"></i></button>
            <button type="button" class="close-button"><i class="fas fa-times"></i></button>
          </div>
        </div>
      </div>
      <div class="smartphone-header">
        <div class="burger-menu">
          <button class="burger-open" type="button" name="button"><i class="fas fa-bars"></i></button>
        </div>
        <div class="burger-menu-close">
          <button class="burger-close" type="button" name="button"><i class="fas fa-times"></i></button>
        </div>
        <div class="title">
          <h1>EthicAlly</h1>
        </div>
      </div>
    </header>

    <main>
      <div class="smartphone-menu">
        <nav>
          <ul>
            <li>NOS ARTISANS</li>
            <li>NOS PRODUITS</li>
            <li>NOS ENGAGEMENTS</li>
            <li>LE MEDIA</li>
          </ul>
        </nav>
      </div>
      <div class="pop-up-searchbar-container">
        <div class="pop-up-searchbar">
          <label for="searchbar">Tapez votre recherche ...&nbsp</label><input type="text" name="searchbar" value="" placeholder="recherche ..."><button class="research-button" type="button" name="button"><i class="fas fa-search"></i></button>
        </div>
      </div>
      <div class="presentation">
        <div class="presentation-text">
          <h2>EthicAlly, qu'est-ce que c'est ?</h2>
          <p>Sensible au monde et à ceux qui l’habitent.  Ethically est l’alliance du bien et du bien.
          Un espace  où les artisans de l’éthique vous présentent leurs créations et leurs engagements écologiques et humains.
          Parce qu'intégrer l’éthique dans notre mode de vie ; c’est intégrer l’éthique dans notre mode de consommer.</p>
          <a href="#">En savoir plus</a>
        </div>
      </div>
      <div class="artisans">
        <div class="main-item">
        </div>
        <div class="item-group">
          <div class="item">
          </div>
          <div class="item">
          </div>
          <div class="item">
          </div>
          <div class="item">
          </div>
        </div>
      </div>




    </main>
    <footer>
      <div class="">

      </div>
      <div class="legal">
        <ul>
          <li>© EthicAlly 2020</li>
          <li>Conditions d'utilisation</li>
          <li>Politique de confidentialité</li>
        </ul>

      </div>


    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../assets/js/script-header.js"></script>
  </body>
</html>
